body {

    background-color: silver;
    font-family: sans-serif;
    text-align: center;
    align-items: center;
}
nav {
 position: sticky;
 top: 0;
 left: 0;
 z-index: 1;
 display: flex;
 justify-content: space-between;
 padding: 1.5rem 3.5rem;
 background-color: rgba(5, 5, 5, 0.698);
 box-shadow: 0 3px 5px rgba(4, 4, 4, 0.1); 
 width: 1073px;
 align-items: center;
 border: 4;
}
.navigation {
    align-items: center;
    text-align: center;
    border: 4;
    border-color: pink;
}

.menu {
    font-size: 2rem;
    border-color: pink;
    border: 4;
    width: 30px;
    height: 20px;
    background-color: black;
    border-width:15px;
}
.navlink {
    text-align: center;
}