body {

    background-color:#cbb19b;
    font-family: sans-serif;
    align-items: center;
    
}
nav {
    position: sticky;
    left: 0;
    display: flex;
    z-index:0;
    justify-content: space-evenly;
    background-color:#66452a;
    text-align: center;
    border: 4;
    top: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.menu {
    width: 25px;
    height: 20px;
    background-color:#aaaaaa;
    align-items:center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.BAcontainer {
    text-align: center;
    max-width:absolute;
    align-items:center;
    justify-content:center;
}

.banner {
    height: 85px;
    justify-content: center;
    overflow:hidden;
    background-color:#d5b7b7;
}

li .navLi{
    float: left;
    display: inline;
}

li a{
    position:relative;
    color: #dfe0e0;
    padding: 10px;
    align-items:top;
}

#center-content{
    color: #dfe0e0;
    margin-top: 20px;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.paragraphs{
    text-align: center;
    font-size:small;
}
.content{
    color:	#dfe0e0;
    align-items:center;
    font-family: Georgia, 'Times New Roman', Times, serif;

    
}
#col-1 {
    flex:50%;
    background-color: #66452a;
    border-radius:25px;
    margin-top:30px;
    text-align:center;
    border:5;
    border-color: #dfe0e0;
    border-style:solid;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow: scroll;


}
  
  #col-2 {
    flex:30%;
    background-color:  #9b7960;
    margin-left:30px;
    border-radius:25px;
    margin-top:30px;
    text-align:center;
    border:5;
    border-color: #dfe0e0;
    border-style:solid;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow: scroll;

  }
  #col-3 {
    flex:50%;
    background-color: #66452a;
    margin-left:30px;
    border-radius:25px;
    margin-top:30px;
    text-align:center;
    border:5;
    border-color: #dfe0e0;
    border-style:solid;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow: scroll;
  }
  #col-4 {
    width:100%;
    height:60%;
    background-color: #9b7960;
    text-align:center;
    border:5;
    margin-left:15px;
    border-radius:25px;
    margin-top:30px;
    border-color: #dfe0e0;
    border-style:solid;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow: scroll;
  }
  #col-5 {
    flex:50%;
    background-color: #9b7960;
    margin-left:30px;
    border-radius:25px;
    margin-top:30px;
    text-align:center;
    border:5;
    border-color: #dfe0e0;
    border-style:solid;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow: scroll;
  }
  #col-6 {
    flex:50%;
    background-color: #9b7960;
    margin-left:30px;
    border-radius:25px;
    margin-top:30px;
    text-align:center;
    border:5;
    border-color: #dfe0e0;
    border-style:double;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow: scroll;
  }
.SScontainer{
    width:95%;
    height:60vh;
    margin:auto;
    display:flex;
    justify-content: center;
}
.headings{
    font-size:large;
    color:#dfe0e0;
    border:3px;
    border-style:solid;
    border-color:#dfe0e0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}
.infoBlocks{
    color: #dfe0e0;
    font-size: 15px;
    padding:25px;
}
.bulList{
    list-style-type:circle;
}
li .appRec {
    color: pink;
    display: normal;
}